<form #form="ngForm" *ngIf="book" (ngSubmit)="save()">
  <label for="title">Title:</label><br />
  <input
    type="text"
    [(ngModel)]="book.title"
    name="title"
    #title="ngModel"
    required
  />
  <br />
  <label for="abstract">Abstract:</label><br />
  <input
    type="text"
    [(ngModel)]="book.abstract"
    name="abstract"
    #abstract="ngModel"
  />
  <br />
  <label for="author">Author:</label><br />
  <input
    type="text"
    [(ngModel)]="book.author"
    name="author"
    #author="ngModel"
  />
  <br />
  <button type="submit" [disabled]="form.invalid">submit</button>
</form>
<a [routerLink]="['..']">back</a>
